

body {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	 background-color: #ffffff;
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#999999));
  	background-image: -webkit-linear-gradient(top, #ffffff, #999999);
  	background-image:    -moz-linear-gradient(top, #ffffff, #999999);
  	background-image:      -o-linear-gradient(top, #ffffff, #999999);
 	 background-image:         linear-gradient(to bottom, #ffffff, #999999);

}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}
 
 
 html, body {
text-align: center;
}
p {text-align: left;}


h1
{
font-size:30px;
font-weight:normal;
padding:10px;
}


h2
{
font-size:26px;
font-weight:normal;
padding-left:15px;
padding-top:35px;
}

#main
{
width:641px;
height:auto;
padding-bottom:20px;
}

#header
{
color:#ffffff;
clear:both;
width:641px;
height:25px;
background-image:url(header_footer.png);
background-repeat:no-repeat;
text-align:right;
line-height:25px;
}

#header a, #header a:visited, #header a:hover
{
font-size:12px;
font-weight:bold;
color:#FFFFFF;
padding-left:12px;
padding-right:5px;
text-decoration:none;
line-height:25px;
}

#footer
{
color:#ffffff;
font-size:10px;
clear:both;
width:641px;
height:25px;
background-image:url(header_footer.png);
background-repeat:no-repeat;
text-align:center;
line-height:25px;
font-weight:normal;
}

#footer a, #footer a:visited, #footer a:hover
{
font-size:10px;
color:#FFFFFF;
text-decoration:none;
line-height:25px;
}




#header a:hover { 
color:#F2EAEA;
border:none;
}

#contentColumn
{
float:left;
width:441px;
}

#navColumn
{
float:left;
width:200px;
padding-top:50px;
}
#contentColumn p
{
text-align:left;
line-height:25px;
letter-spacing:-1px;
margin:6px;
}



.divider
{
background-image:url(divider.jpg);
width:408px;
height:3px;
margin-bottom:10px;

}
.subHeader
{
margin-top:20px;
margin-bottom:4px;
width:150px;
height:20px;
background-image:url(right_header.png);
text-align:center;
}

.subHeader h3
{
font-size:13px;
line-height:20px;
color:#FFFFFF;
text-align:center;
}

ul,  li
{
text-align:center;
padding:3px;
list-style-image:url(link_image.png);
}



a, a:visited
{
text-decoration:none;
color:#9B1313;
}

a:hover
{
color:#9B1313;
border-bottom:dashed 1px #DD6A6A;
}

/* 共通設定 */
.mainbox, .header, .footer{
    width: 750px;
    margin: 20px auto 20px auto;
}

/* ヘッダ関連の設定 */
.header{
    border-bottom: 0.5px solid black;
    padding-bottom: 0.5em;
    margin-top: 0;
}
.logo{
    display: block;
    border: 0;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}
.nav{
    margin: 3px auto 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}
.nav li{
    display: inline;
}
.nav li{
    width: 100px;
    height: 21px;
    border-style:none;
}

/* フッタ関連の設定 */

.footer{
    border-top: 0.5px solid black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* 箇条書きのスタイル変更 */
ol, ul{
    display: block;
    list-style-type: none;
    padding: 0;
}

/* テーブルのスタイルの設定 */
TABLE.table {
	empty-cells: hide;

}

TABLE.table TH {
	padding: 4px 12px;
	margin: 2px;
	background-color: #CCCCFF;
}

TABLE.table TD {
	padding: 4px 12px;
	margin: 2px;
	background-color: #EEEEFF;
}

/* リンク画像から枠線の除去 */
a>img{
    border-style:none;
}

.centerize{
    text-align: center;
}

