

body {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family:  Arial, Helvetica;
	font-size: 16px;
	color: #000000;
	 background-color: #ffffff;
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#999999));
  	background-image: -webkit-linear-gradient(top, #ffffff, #999999);
  	background-image:    -moz-linear-gradient(top, #ffffff, #999999);
  	background-image:      -o-linear-gradient(top, #ffffff, #999999);
 	 background-image:         linear-gradient(to bottom, #ffffff, #999999);

}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}
 
 
 html, body {
text-align: center;
}
p {text-align: left;}


h1
{
font-size:30px;
font-weight:normal;
padding:10px;
}


h2
{
font-size:26px;
font-weight:normal;
padding-left:15px;
padding-top:35px;
}

#main
{
width:641px;
height:auto;
padding-bottom:0px;
}

#header
{
color:#ffffff;
clear:both;
width:641px;
height:25px;
background-image:url(header_footer.png);
background-repeat:no-repeat;
text-align:right;
line-height:25px;
}

#header a, #header a:visited, #header a:hover
{
font-size:12px;
font-weight:bold;
color:#FFFFFF;
padding-left:12px;
padding-right:5px;
text-decoration:none;
line-height:25px;
}

#footer
{
color:#ffffff;
font-size:10px;
clear:both;
width:641px;
height:25px;
background-image:url(header_footer.png);
background-repeat:no-repeat;
text-align:center;
line-height:25px;
font-weight:normal;
}

#footer a, #footer a:visited, #footer a:hover
{
font-size:10px;
color:#FFFFFF;
text-decoration:none;
line-height:25px;
}




#header a:hover { 
color:#F2EAEA;
border:none;
}

#contentColumn
{
float:left;
width:441px;
}

#navColumn
{
float:left;
width:220px;
padding-top:60px;
text-align:center;

	
}
#contentColumn p
{
text-align:left;
line-height:25px;
letter-spacing:-1px;
margin:6px;
}



.divider
{
background-image:url(divider.jpg);
width:408px;
height:3px;
margin-bottom:10px;

}
.subHeader
{
margin-top:20px;
margin-bottom:4px;
width:150px;
height:20px;
background-image:url(right_header.png);
text-align:center;
}

.subHeader h3
{
font-size:13px;
line-height:20px;
color:#FFFFFF;
text-align:center;
}

ul,  li
{
text-align:center;
padding:3px;
list-style-image:url(link_image.png);
}



a, a:visited
{
text-decoration:none;
color:#9B1313;
}

a:hover
{
color:#9B1313;
border-bottom:dashed 1px #DD6A6A;
}

/* 共通設定 */
.mainbox, .header, .footer{
    width: 750px;
    margin: 20px auto 20px auto;
}

/* ヘッダ関連の設定 */
.header{
    border-bottom: 0.5px solid black;
    padding-bottom: 0.5em;
    margin-top: 0;
}
.logo{
    display: block;
    border: 0;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}
.nav{
    margin: 3px auto 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}
.nav li{
    display: inline;
}
.nav li{
    width: 100px;
    height: 21px;
    border-style:none;
}

/* フッタ関連の設定 */

.footer{
    border-top: 0.5px solid black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* 箇条書きのスタイル変更 */
ol, ul{
    display: block;
    list-style-type: none;
    padding: 0;
}

/* テーブルのスタイルの設定 */
TABLE.table {
	empty-cells: hide;

}

TABLE.table TH {
	padding: 4px 12px;
	margin: 2px;
	background-color: #CCCCFF;
}

TABLE.table TD {
	padding: 4px 12px;
	margin: 2px;
	background-color: #EEEEFF;
}

/* リンク画像から枠線の除去 */
a>img{
    border-style:none;
}

.centerize{
    text-align: center;
}







/* LAYOUT */
.container {
	margin: 0;
	padding: 0;
	margin:0 auto;
	overflow:hidden;
	width:660px;
}

/* CONTENT SLIDER */
#content-slider {
	width:100%;
	height:360px;
	margin:0px auto 0;
}
/* SLIDER */
#slider {
	background:#000;
	border:5px solid #eaeaea;
	box-shadow:1px 1px 5px rgba(0,0,0,0.7);
	height:320px;
	width:680px;
	margin:0px auto 0;
	overflow:visible;
	position:relative;
}
#mask {
	overflow:hidden;
	height:320px;
}
#slider ul {
	margin:0;
	padding:0;
	position:relative;
}
#slider li {
	width:680px;
	height:320px;
	position:absolute;
	top:-325px;
	list-style:none;
}

#slider li.firstanimation {
	-moz-animation:cycle 60s linear infinite;	
	-webkit-animation:cycle 60s linear infinite;		
}
#slider li.secondanimation {
	-moz-animation:cycletwo 60s linear infinite;
	-webkit-animation:cycletwo 60s linear infinite;		
}
#slider li.thirdanimation {
	-moz-animation:cyclethree 60s linear infinite;
	-webkit-animation:cyclethree 60s linear infinite;		
}
#slider li.fourthanimation {
	-moz-animation:cyclefour 60s linear infinite;
	-webkit-animation:cyclefour 60s linear infinite;		
}
#slider li.fifthanimation {
	-moz-animation:cyclefive 60s linear infinite;
	-webkit-animation:cyclefive 60s linear infinite;		
}

#slider .tooltip {
	background:rgba(0,0,0,0.7);
	width:300px;
	height:60px;
	position:relative;
	bottom:75px;
	left:-320px;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;  
}
#slider .tooltip h1 {
	color:#fff;
	font-size:24px;
	font-weight:300;
	line-height:60px;
	padding:0 0 0 20px;
}
#slider li#first:hover .tooltip, 
#slider li#second:hover .tooltip, 
#slider li#third:hover .tooltip, 
#slider li#fourth:hover .tooltip, 
#slider li#fifth:hover .tooltip {
	left:0px;
}
#slider:hover li, 
#slider:hover .progress-bar {
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
}

/* PROGRESS BAR */
.progress-bar { 
	position:relative;
	top:-5px;
	width:680px; 
	height:5px;
	background:#000;
	-moz-animation:fullexpand 60s ease-out infinite;
	-webkit-animation:fullexpand 60s ease-out infinite;
}





/* ANIMATION */
@-moz-keyframes cycle {
	0%  { top:0px; }
	4%  { top:0px; } 
	16% { top:0px; opacity:1; z-index:0; } 
	20% { top:325px; opacity:0; z-index:0; } 
	21% { top:-325px; opacity:0; z-index:-1; }
	92% { top:-325px; opacity:0; z-index:0; }
	96% { top:-325px; opacity:0; }
	100%{ top:0px; opacity:1; }
	
}
@-moz-keyframes cycletwo {
	0%  { top:-325px; opacity:0; }
	16% { top:-325px; opacity:0; }
	20% { top:0px; opacity:1; }
	24% { top:0px; opacity:1; } 
	36% { top:0px; opacity:1; z-index:0; } 
	40% { top:325px; opacity:0; z-index:0; }
	41% { top:-325px; opacity:0; z-index:-1; } 
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclethree {
	0%  { top:-325px; opacity:0; }
	36% { top:-325px; opacity:0; }
	40% { top:0px; opacity:1; }
	44% { top:0px; opacity:1; } 
	56% { top:0px; opacity:1; } 
	60% { top:325px; opacity:0; z-index:0; }
	61% { top:-325px; opacity:0; z-index:-1; } 
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclefour {
	0%  { top:-325px; opacity:0; }
	56% { top:-325px; opacity:0; }
	60% { top:0px; opacity:1; }
	64% { top:0px; opacity:1; }
	76% { top:0px; opacity:1; z-index:0; }
	80% { top:325px; opacity:0; z-index:0; }
	81% { top:-325px; opacity:0; z-index:-1; }
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclefive {
	0%  { top:-325px; opacity:0; }
	76% { top:-325px; opacity:0; }
	80% { top:0px; opacity:1; }
	84% { top:0px; opacity:1; }
	96% { top:0px; opacity:1; z-index:0; }
	100%{ top:325px; opacity:0; z-index:0; }
}

@-webkit-keyframes cycle {
	0%  { top:0px; }
	4%  { top:0px; }
	16% { top:0px; opacity:1; z-index:0; } 
	20% { top:325px; opacity:0; z-index:0; }
	21% { top:-325px; opacity:0; z-index:-1; }
	50% { top:-325px; opacity:0; z-index:-1; }
	92% { top:-325px; opacity:0; z-index:0; }
	96% { top:-325px; opacity:0; }
	100%{ top:0px; opacity:1; }
	
}
@-webkit-keyframes cycletwo {
	0%  { top:-325px; opacity:0; }
	16% { top:-325px; opacity:0; }
	20% { top:0px; opacity:1; }
	24% { top:0px; opacity:1; } 
	36% { top:0px; opacity:1; z-index:0; } 
	40% { top:325px; opacity:0; z-index:0; }
	41% { top:-325px; opacity:0; z-index:-1; }  
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclethree {
	0%  { top:-325px; opacity:0; }
	36% { top:-325px; opacity:0; }
	40% { top:0px; opacity:1; }
	44% { top:0px; opacity:1; } 
	56% { top:0px; opacity:1; z-index:0; } 
	60% { top:325px; opacity:0; z-index:0; } 
	61% { top:-325px; opacity:0; z-index:-1; }
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclefour {
	0%  { top:-325px; opacity:0; }
	56% { top:-325px; opacity:0; }
	60% { top:0px; opacity:1; }
	64% { top:0px; opacity:1; }
	76% { top:0px; opacity:1; z-index:0; }
	80% { top:325px; opacity:0; z-index:0; }
	81% { top:-325px; opacity:0; z-index:-1; }
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclefive {
	0%  { top:-325px; opacity:0; }
	76% { top:-325px; opacity:0; }
	80% { top:0px; opacity:1; }
	84% { top:0px; opacity:1; }
	96% { top:0px; opacity:1; z-index:0; }
	100%{ top:325px; opacity:0; z-index:0; }
}

/* ANIMATION BAR */
@-moz-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
    4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
   16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
   17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
   18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }	
}
@-webkit-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
    4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
   16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
   17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
   18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }	
}
